@(infos: List[pl.edu.pw.elka.stud.tkogut.passim.executors.PublicationInfo])

<style>
    p {
    margin-top: 0;
    margin-bottom: 0px;
    }

    h2 {
    margin-top: 0;
    }

</style>

@main("Publiction search results") {
        <h2>Publications (@infos.length)</h2>
        <ul>
        @for(pub <- infos) {
            <li><i>@pub.title</i> by @pub.author @if(pub.pubYear!=null) {from @pub.pubYear year}
            @if(pub.citedBy!=null) {<br/> cited by: @pub.citedBy}
            <br/>
            </li>
        }

        </ul>
}